.container {
	margin: 50px 0;
}

.card {
	margin: 0 2% !important;
	background-color: #5c5a63 !important;
	color: #FFF !important;
}

.head {
	background-color: #a3a2a8 !important;
	color: #000 !important;
	text-align: center;
	font-weight: bold !important;
	border-radius: 25px;
}